@font-face {
	font-family: 'id-icons';
	src:url('fonts/id-icons-3l3f3i.eot');
	src:url('fonts/id-icons-.eot') format('embedded-opentype'),
		url('fonts/id-icons-3l3f3i.ttf') format('truetype'),
		url('fonts/id-icons-3l3f3i.woff') format('woff'),
		url('fonts/id-icons-3l3f3i.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'id-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-linkedin:before {
	content: "\e601";
}
